body{
	font-family: Georgia,Times,Times New Roman,serif; 
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v996-009_1-kroir4dk.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dcb55d36929676d81bb5f66b7e091fe8")
}

.navbar-header {
    background-color: rgb(249,249,249);
    height: 250px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand > img {
    width: 200px;
    height: 200px;
    margin-right: 15px;
    margin-top: -20px;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
}

#contactInfo {
    margin-top: -35px;
}

#contactInfo span {
    margin-right: 5px;
    font-size: 1.5em;
}

#contactInfo img {
    height: 50px;
    width: 50px;
    clear: right;
    margin-top: 5px;
    margin-right: 10px;
}

#contactInfo #gmail {
    width: 60px;
}

.navbar-brand p {
    width: 75%;
    max-height: 50px;
}

.navbar-brand h3 {
    margin-top: -10px;
}

.lang, .proj, .job, .school, .footer {
    border: 2px solid black;  
}

.navbar-header{
    border-style: ridge;
    border-radius: 5px;
}

.lang, .proj, .job, .school, .footer {
    background-color: rgb(251,247,245);
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.footer > div {
    text-align: center;
}

.section-title{
    font-size: 1.5em;
    text-shadow: -2px 2px 2px rgba(108, 116, 128, 1);
}

.name {
    color: rgb(133, 130, 130);
    font-family: 'Russo One', sans-serif;
}

.lang, .job, .footer {
    border-style: outset;
}

.proj, .school {
    border-style: inset;
}

@media (max-width: 885px){


    .description {
        font-size: 11px;
        float: left;
        text-align: center;
        margin-top: 10px;
        margin-right: 10px;
    }

    .navbar-brand > img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-top: 0px;
        border-radius: 50%;
        -moz-box-shadow: 0px 6px 5px #ccc;
      -webkit-box-shadow: 0px 6px 5px #ccc;
      box-shadow: 0px 6px 5px #ccc;
      -moz-border-radius:190px;
    }

    .name {
        font-size: 22px;
    }

    .currentSchool {
        font-size: 20px;
    }

    #contactInfo {
        font-size: 10px;
        margin-top: 60px;

    }

    #contactInfo > span {
        visibility: hidden;
    }

    #contactInfo img {
        height: 25px;
        width: 25px;
        clear: right;
        margin-top: 5px;
        margin-right: 10px;
    }

    #contactInfo #gmail {
        width: 35px;
    }
}






