body{
	font-family: Georgia,Times,Times New Roman,serif; 
    background-color: rgb(107, 138, 167);
}

.navbar-header {
    background-color: rgb(125, 160, 190);
    height: 250px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-brand > img {
    width: 200px;
    height: 200px;
    margin-right: 15px;
    margin-top: -20px;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
}

#contactInfo {
    margin-top: -35px;
}

#contactInfo span {
    margin-right: 5px;
    font-size: 1.5em;
}

#contactInfo img {
    height: 50px;
    width: 50px;
    clear: right;
    margin-top: 5px;
    margin-right: 10px;
}

#contactInfo #gmail {
    width: 60px;
}

.navbar-brand p {
    width: 75%;
    max-height: 50px;
}

.navbar-brand h3 {
    margin-top: -10px;
}

.lang, .proj, .job, .school, .footer {
    border: 2px solid black;  
}

.navbar-header{
    border-style: ridge;
    border-radius: 5px;
}

.lang, .proj, .job, .school, .footer {
    background-color: rgb(213, 233, 250);
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.footer > div {
    text-align: center;
}

.section-title{
    font-size: 1.5em;
}

.name {
    color: white;
}

.lang, .job, .footer {
    border-style: outset;
}

.proj, .school {
    border-style: inset;
}

@media (max-width: 885px){


    .description {
        font-size: 16px;
        width: 5%;
        float: left;
    }

    .navbar-brand > img {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-top: -20px;
        border-radius: 50%;
        -moz-box-shadow: 0px 6px 5px #ccc;
      -webkit-box-shadow: 0px 6px 5px #ccc;
      box-shadow: 0px 6px 5px #ccc;
      -moz-border-radius:190px;
    }

    .name {
        font-size: 22px;
    }

    .currentSchool {
        font-size: 20px;
    }

    #contactInfo {
        font-size: 10px;
        margin-top: 60px;

    }

    #contactInfo > span {
        visibility: hidden;
    }

    #contactInfo img {
        height: 25px;
        width: 25px;
        clear: right;
        margin-top: 5px;
        margin-right: 10px;
    }

    #contactInfo #gmail {
        width: 35px;
    }
}






